@page "/"
@inject IJSRuntime JsRuntime

<button @onclick="StartCamera">Start Camera</button>
<button @onclick="StopCamera">Stop Camera</button>
<button @onclick="TakePhoto">Take Photo</button>
<button @onclick="SavePhoto">Save Photo</button>

<video autoplay id="blazor-video"></video>
<canvas id="blazor-canvas"></canvas>

@code
{
    public async Task StartCamera()
    {
        await JsRuntime.InvokeVoidAsync("startCamera");
    }

    public async Task StopCamera()
    {
        await JsRuntime.InvokeVoidAsync("stopCamera");
    }

    public async Task TakePhoto()
    {
        await JsRuntime.InvokeVoidAsync("takePhoto");
    }

    public async Task SavePhoto()
    {
        var fileName = Guid.NewGuid().ToString("N")[..8];
        await JsRuntime.InvokeVoidAsync("savePhoto", $"{fileName}.png");
    }
}